<title>Add Student</title>

<form asp-action="Add">
    <input name="Id" type="number"/>
    <input name="Name" type="text"/>
    <input name="Email" type="email"/>

    <button type="submit">Add Student</button>

</form>
