@model List<StdModel>


<form asp-action="Update">
    <input name="Id" type="number"/>
    <input name="Name" type="text"/>
    @*<input name="Email" type="email"/>*@
    <button type="submit">Update Student</button>

</form>
